@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}

.regex-charset { color: #007020; }
.regex-group { color: #0000FF; }
.regex-or { color: #D2413A; }
.regex-quantifier { color: #902000; }